<h2>Books</h2>
<table>
	<tr>
		<th>title</th>
	    <th>body</th>
	</tr>
	<tr>
		<% if @books.present? %>
		    <% @books.each do |book| %>
		    	<div class="table">
					<td><%= book.title %></td>
				    <td><%= book.body %></td>
				    <td><%= link_to "Show", book_path(book) %></td>
				    <td><%= link_to "Edit", edit_book_path(book) %></td>
				    <td><%= link_to "Delete", book_path(book), method: :delete, data: { confirm: '削除しますか？' }%></td>
				</div>
			<% end %>
		<% end %>
	</tr>
</table>

<h3>New Book</h3>	
<!-- form_for部分 -->
<%= form_for(@book) do |f| %>
 
    <h4>title</h4>
    <%= f.text_field :title %>
 
    <h4>body</h4>
    <%= f.text_area :body %>
 
    <%= f.submit 'Create Book' %>
 
<% end %>
